* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

hr {
  border: 0;
}

.homepage-container {
  position: relative;
  height: 100vh;
  color: white;
  border: 3px solid white;
  border-bottom: none;
  border-top: none;
}

.container {
  height: 100%;
  width: 100%;
  background-image: url(./BackgroundFirstTry.JPG);
  background-size: cover;
  font-size: 25px;
  background-attachment: fixed;
  background-position: center;
}

.overlay {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  background: #25293496;
  background: #25293477;
  box-shadow: inset 0px 0px 10px #252934;
}

.tippy-top {
  width: 100%;
  margin: 0;
  border-top: 3px solid white;
  box-shadow: 0px 0px 10px #252934;

}

.stickThis {
  position: sticky;
  top: 0;
  text-align: center;
  width: 100%;
  color: #252934;
  background: white;
}

.title-box {
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  /* padding-top: 45px; */
}

.first-name {
  height: 190px;
  font-size: 195px;
  font-weight: 900;
  text-shadow: 3px 2px 3px #252934;
}

.last-name {
  font-size: 90px;
  font-weight: 900;
  text-shadow: 3px 2px 3px#252934;
}

.web-dev-bar {
  width: 45%;
  margin: 12.5px 0;
  border: 0;
  border-top: 2px solid white;
  box-shadow: 2px 2px 3px #252934;
}

.web-dev {
  font-size: 35px;
  text-shadow: 2px 2px 3px #252934;
}

.circle-button {
  display: none;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  cursor: pointer;
  position: fixed;
  margin-top: 75vh;
  box-shadow: 1px 3px 7px #252934;
  box-shadow: 1px 3px 7px #252934a2;
  background: rgb(235, 235, 235);
  border-radius: 50%;
}

.add {
  transition: transform 250ms ease-in-out;
}

.add-nav-open {
  transform: rotate(45deg);
}

i {
  color: #252934;
}

.xs-bar-footer-box {
  display: none;
}

.bar-nav-box {
  width: 100%;
  height: 65px;
  color: #252934;
  background: white;
}

.bottom-bar {
  width: 100%;
  margin: 0;
  border-top: 1px solid white;
  box-shadow: none;
}

nav {
  position: absolute;
  width: 100vw;
  height: 65px;
  margin-left: -3px;
  color: #252934;
  background: white;
  transition: all 250ms ease-in-out;
  box-shadow: 0px 10px 10px -10px #252934;
  z-index: 1;
}

.xs-

.xs-overlay-visible {
  height: 100vh;
  background: white;
}

/* .nav-box {
  display: flex;
  width: 60%;
  align-items: center;
} */

.bottom-bar {
  margin: 0;
  width: 100%;
}

ul {
  display: flex;
  width: 60%;
  justify-content: space-around;
  line-height: 65px;
  margin: 0;
  list-style-type: none;
}

li {
  cursor: pointer;
}

li:hover {
  font-weight: bold;
  color: #252934e5;
}

.contact:hover {
  margin-left: -8px;
}

.portfolio:hover {
  margin-left: -12px;
}

.about:hover {
  margin-left: -6px;
}

.home:hover {
  margin-left: -2px;
}

/* .home {
  height: 57px;
  line-height: 65px;
  color: #252934e5;
  font-weight: bold;
  border-bottom: 5px solid #252934;
  border-bottom: 5px solid #252934e5;
} */

.xs-nav {
  display: none;
}

.about-content {
  color: #252934;
  /* position: fixed; */
  /* top: 0; */
}

.about-bar {
  width: 100%;
  margin: 0;
  border: 1px solid white;
  box-shadow: none;
}

.about-container {
  /* text-align: center; */
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 35px 0 0 45px;
  color: #252934;
  background: white;
  /* border: 3px solid #252934; */
  /* box-shadow: inset 0px 0px 10px #252934; */
}

.about-title {
  width: 50vw;
  /* border: 1px solid #252934; */
}

.about-heading {
  font-size: 75px;
}

.about-underline {
  width: 75%;
  border-top: 3px solid #252934;
}

.about-box {
  width: 90vw;
  height: 75vh;
  /* border: 3px solid #252934; */
}

.img-box {
  width: 100%;
  height: 100%;
  /* background-image: url('./BackgroundFirstTry.JPG');
  background-size: cover;
  background-attachment: fixed;
  background-position: center; */
}

.img-overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5px 18px;
  /* background: rgba(255, 255, 255, 0.288); */
  /* background: #2529347e; */
  /* box-shadow: inset 0px 0px 10px #252934; */
}

.about-card-box {
  width: 32%;
  height: 95%;
}

.left-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.left-card {
  height: 12%;
  width: 100%;
  /* text-align: center; */
  /* border-radius: 5px; */
  /* box-shadow: 2px 2px 5px #252934; */
}

.left-card p {
  font-size: 23px;
  /* font-weight: bold; */
  color: #252934;
  /* text-shadow: 3px 2px 3px #252934; */
}

.left-card hr {
  width: 65%;
  margin: 10px 0;
  border-top: 3px solid #252934;
}

.center-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .profile-pic {
  border: 3px solid #252934;
  border-radius: 5px;
} */

.profile-pic img {
  width: 100%;
  border-radius: 2px;
}

.center-card {
  font-size: 15px;
  padding: 13px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #252934;
}

.right-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-card {
  display: flex;
  align-items: center;
  width: 100%;
  height: 9%;
  color: white;
  background: rgba(255, 255, 255, 0.678);
  border-radius: 5px;
  box-shadow: 2px 2px 5px #252934;
}

.skill {
  display: flex;
  align-items: center;
  height: 100%;
  width: 90%;
  padding-left: 5px;
  background: #252934;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.middle-box {
  font-size: 14px;
}

.portfolio-heading {
  padding: 100px 0 0 50px;
}

.portfolio-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 100px;
}

.projects {
  display: flex;
  width: 90vw;
  height: 75vh;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #252934;
}

.project {
  height: 35vh;
  width: 25vw;
  border: 1px solid #252934;
}

.contact-heading {
  padding-left: 50px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-name {
  height: 50px;
  width: 90vw;
  border: 1px solid #252934;
}

.form-email {
  height: 50px;
  width: 90vw;
  margin: 35px 0;
  border: 1px solid #252934;
}

.form-message {
  height: 250px;
  width: 90vw;
  margin: 35px 0;
  border: 1px solid #252934;
}

@media (max-width: 800px) {
  ul {
    font-size: 20px;
    padding-inline-start: 20px;
  }
  
  .contact:hover {
    margin-left: -6px;
  }
  
  .portfolio:hover {
    margin-left: -8px;
  }
  
  .about:hover {
    margin-left: -4px;
  }
  
  .home:hover {
    margin-left: -1.5px;
  }
}

@media (max-width: 600px) {
  .first-name {
    height: 160px;
    font-size: 165px;
  }

  .last-name {
    font-size: 75px;
  }

  ul {
    font-size: 15px;
  }

  .contact:hover {
    margin-left: -5px;
  }
  
  .portfolio:hover {
    margin-left: -7px;
  }
  
  .about:hover {
    margin-left: -4px;
  }
  
  .home:hover {
    margin-left: -1px;
  }
}

@media (max-width: 480px) {
.circle-button {
    display: flex;
    z-index: 1;
  }

  .xs-bar-bottom-box {
    display: flex;
    height: 65px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
  }

  .xs-bar {
    width: 100%;
    margin: 0;
    border-top: 3px solid white;
    box-shadow: none;
  }

  .bar-nav-box {
    display: none;
  }

  .xs-body-lock {
    overflow: hidden;
  }

  .xs-nav-visible {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.973);
  }

  .xs-ul-visible {
    height: 77vh;
    width: 100%;
    padding: 75px 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    color: #252934;
  }
}